* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #fff;
  padding: 24px 0;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-auto-rows: 200px;
  gap: 24px;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  justify-content: center;
}
.gallery-item {
  list-style: none;
  width: 360px;
  height: 200px;
}
.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
}
.gallery-link:hover .gallery-image,
.gallery-link:focus .gallery-image {
  transform: scale(1.05);
}
.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 250ms ease;
}
.modal-window {
  display: flex;
  justify-content: center;
  align-items: center;
}
